<%= form_for(@report) do |f| %>
    <% if @report.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

          <ul>
            <% @report.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :station %><br>
      <%= f.collection_select :station_id, Station.all, :id, :name %>
    </div>
    <div class="field">
      <%= f.label :time %><br>
      <%= f.datetime_select :time %>
    </div>
    <div class="field">
      <%= f.label :temperature %><br>
      <%= f.text_field :temperature %>
    </div>
    <div class="field">
      <%= f.label :rainfall %><br>
      <%= f.text_field :rainfall %>
    </div>
    <div class="field">
      <%= f.label :dew_point %><br>
      <%= f.text_field :dew_point %>
    </div>
    <div class="field">
      <%= f.label :wind_direction %><br>
      <%= f.text_field :wind_direction %>
    </div>
    <div class="field">
      <%= f.label :wind_speed %><br>
      <%= f.text_field :wind_speed %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
